<div class="container">

  <app-navbar></app-navbar>

  <!-- <app-action-box></app-action-box> -->

  <app-user-form></app-user-form>

  <!-- <app-progress-bar></app-progress-bar> -->

  <!--
  <hr />
  <button (click)="login()" class="btn btn-primary">Login</button>&nbsp;
  <hr />
  <button (click)="addNewItem()" class="btn btn-primary">add-Item</button>&nbsp;
  <button (click)="clearItems()" class="btn btn-danger">clear-Items</button>
  <hr />
  <app-cart-badge></app-cart-badge>
  <hr />
  <app-item-list [items]="items"></app-item-list>
  -->

  <!--
  <app-box>
    <div class="indian">
      <app-veg></app-veg>
      <app-veg></app-veg>
    </div>
    <div class="chineese">
      <app-veg></app-veg>
      <app-veg></app-veg>
    </div>
  </app-box>
  <app-box>
    <div class="indian">
      <app-non-veg></app-non-veg>
      <app-non-veg></app-non-veg>
    </div>
  </app-box>
  -->
  <!--
  <app-todo-app>
    <app-todo [value]="primaryTodo"></app-todo>
  </app-todo-app>
  -->


</div>