


@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css'
