<div>
  <app-navbar [value]="title"></app-navbar>
  <hr />
  <app-cart-badge [value]="cartQty"></app-cart-badge>
  <hr />
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " href="/" (click)="toggleCart($event)">{{isCartOpen?'items':'cart'}}</a>
      </li>
    </ul>
  </div>
  <hr />
  <div class="container">
    <app-cart-view *ngIf="isCartOpen" [cart]="cart"></app-cart-view>
    <app-item-list *ngIf="!isCartOpen" (buy)="addToCart($event)" [cart]="cart"></app-item-list>
  </div>
</div>