<div class="row">
  <div class="col-sm-6 col-md-6">
    <button class="btn btn-info" *ngIf="!isOpen" (click)="toggleForm()">
      <i class="fa fa-plus"></i>
    </button>
    <div class="card" *ngIf="isOpen">
      <div class="card-header">ReviewForm</div>
      <div class="card-body">
        <form [formGroup]="reviewForm" (submit)="handleFormSubmit($event)">
          <div class="form-group">
            <label>stars</label>
            <select class="form-control" formControlName="stars">
              <option *ngFor="let n of [1,2,3,4,5]" [value]="n">{{n}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>author</label>
            <input class="form-control" formControlName="author" />
          </div>
          <div class="form-group">
            <label>body</label>
            <textarea class="form-control" formControlName="body"></textarea>
          </div>
          <button (click)="toggleForm()" type="button" class="btn btn-danger">cancel</button>&nbsp;
          <button class="btn btn-dark">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>