<div class="row">
  <div class="col-md-6">
    <hr />
    Form => model
    <hr />
    <pre>
      {{userForm.value|json}}
    </pre>

    <hr />
    Form => status
    <hr />

    <pre>
      is pristine : {{userForm.pristine}}
      is dirty    : {{userForm.dirty}}
      is valid    : {{userForm.valid}}
      is invalid  : {{userForm.invalid}}
      is untouched: {{userForm.untouched}}
      is touched  : {{userForm.touched}}
    </pre>

    <hr />
    FormControl => status e.g lastName
    <hr />

    <pre>
      is pristine : {{userForm.get('lastName').pristine}}
      is dirty    : {{userForm.get('lastName').dirty}}
      is valid    : {{userForm.get('lastName').valid}}
      is invalid  : {{userForm.get('lastName').invalid}}
      id untouched: {{userForm.get('lastName').untouched}}
      id touched  : {{userForm.get('lastName').touched}}
      
    </pre>
    <hr />
    <button class="btn btn-info" (click)="loadUser($event)">Load User</button>
    <hr />
    <div class="card">
      <div class="card-header">User Form</div>
      <div class="card-body">
        <form [formGroup]="userForm" (submit)="handleFormSubmit($event)">
          <div class="form-group">
            <label>Search:</label>
            <input type="text" class="form-control" formControlName="search" />
          </div>
          <div formGroupName="dateGroup">
            <div class="form-group">
              <label>FromDate:</label>
              <input type="text" class="form-control" formControlName="fromDate" />
            </div>
            <div class="form-group">
              <label>ToDate:</label>
              <input type="text" class="form-control" formControlName="toDate" />
            </div>
            <div *ngIf="userForm.get('dateGroup').errors?.range && userForm.get('dateGroup.toDate').touched">
              Invalid dates
            </div>
          </div>
          <pre>
            <hr/>
            errors
            <hr/>
            {{userForm.get('dateGroup').errors|json}}
          </pre>

          <div class="form-group">
            <label>Notification</label>
            <div class="input-group">
              <input (change)="handleNotiChange('email')" type="radio" value="email" formControlName="notification"
                checked />&nbsp;Email
              &nbsp;&nbsp;
              <input (change)="handleNotiChange('sms')" type="radio" value="sms"
                formControlName="notification" />&nbsp;SMS
            </div>
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label>Mobile:</label>
            <input class="form-control" formControlName="mobile" />
            <div *ngIf="userForm.get('mobile').touched && userForm.get('mobile').errors?.required">
              please provide mobile number
            </div>
            <div *ngIf="userForm.get('mobile').touched && userForm.get('mobile').errors?.minlength">
              Invalid Mobile number
            </div>
          </div>

          <div class="form-group">
            <label>First Name:</label>
            <input (blur)="handleBlur(userForm.get('firstName'))" class="form-control"
              [class.is-invalid]="errors.firstName" formControlName="firstName" />
            <div class="text-danger">{{errors.firstName}}</div>
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input class="form-control" formControlName="lastName" />
          </div>
          <div class="form-group">
            <label>SSN:</label>
            <input class="form-control" formControlName="ssn" />
            <div class="text-danger">{{errors.ssn}}</div>
          </div>
          <button class="btn btn-dark">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>