<div class="card">
  <div class="card-header">Item(s) in cart</div>
  <div class="card-body">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price|priceDiscount:item.discount|currency:item.currency}}</td>
          <td>
            <span class="badge badge-dark"><i class="fa fa-minus"></i></span>
            &nbsp;{{cart[item.id].qty}}&nbsp;
            <span class="badge badge-dark"><i class="fa fa-plus"></i></span>
          </td>
          <td>{{item.price|priceDiscount:item.discount*cart[item.id].qty|currency:item.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>